@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu Heading="Blazor Web App">
            <NavMenuLink Href="@String.Empty" Text="Home" IconCssClass="bi bi-house-door-fill-nav-menu" Match="NavLinkMatch.All" />
            <NavMenuLink Href="counter-page" Text="Counter" IconCssClass="bi bi-plus-square-fill-nav-menu" />
            <NavMenuLink Href="weather-page" Text="Weather" IconCssClass="bi bi-list-nested-nav-menu" />
        </NavMenu>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
