@page "/dependency-injection"
@namespace ComponentFundamentals.Components.Services

@* The third option how to inject service: *@
@* @inject StateService _stateService  *@

<h3>Injecting service in *.razor file</h3>
